* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: blanchedalmond;
  height: 100px;
  align-items: center;
  padding: 0 8px;
 }


ul{
  display: flex;
  list-style-type: none;
  gap: 1em;
}

a {
  text-decoration: none;
  padding: 8px;
  background-color: white;
  font-weight: bold;
  font-size: 20px;
}


.logo {
  font-size: 48px;
  color: red;
  font-style: italic;
  font-weight: bolder;
  padding: 4px 32px;
  background-color: white;
  margin: 10px;
}

